.thumbnail img {
    width: 100%;
}

.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

#admin {
    color: steelblue;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.jumbotron h1 {
    font-size: 4em;
    margin-bottom: 40px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}