body {
    background: linear-gradient(#8e9eab, #eef2f3);
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail img {
    width: 100%;
}

.delete-form {
    display: inline;
}

#map {
    height: 400px;
    width: 100%;
}

#admin {
    color: steelblue;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

h1 {
    font-family: 'Pacifico', cursive;
}

.jumbotron h1 {
    font-size: 4em;
    margin-bottom: 30px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}